* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  /* overflow: hidden; */
  /* user-select: none; */
}

/* Header */
header {
  font-size: 1.7rem;
  position: fixed;
  padding: 2em 10em;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: 0.6s;
}

header.sticky {
  padding: 0;
  top: 0;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

.logo {
  color: green;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3em;
}

@media (max-width: 675px) {
  header {
    height: 12em;
    padding: 5em 0;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
  }
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  margin: 0 1em;
}

nav ul li {
  position: relative;
}

nav ul li a {
  letter-spacing: 0.1rem;
  margin: 0 1.5em;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

nav ul li a span {
  padding: 0 0.5em;
  color: green;
}

.h-cta {
  display: flex;
  font-size: 2.5rem;
  width: 3.5em;
  justify-content: space-between;
  align-items: center;
}

.cart {
  color: green;
}
.search {
  color: green;
}

button {
  font-size: 1.5rem;
  margin: 1.5em 0.5em;
  padding: 0.5em;
}

.hero {
  height: 100vh;
  text-align: center;
}

.info {
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heading {
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}

.heading span {
  color: green;
}

#detail {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.hero-cta {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#click {
  display: none;
}

.btn-cta {
  background-color: green;
  padding: 1.5em;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
}

.btn-cta:hover {
  background-color: lightgreen;
}

.popup {
  height: 25vh;
  background-color: green;
  color: white;
  overflow: hidden;
  border: 2px solid green
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
}

#click:checked ~ .popup {
  opacity: 1;
  visibility: visible
}

.header-p {
  background-color: white;
  padding: 2em 0;
}

.header-p h2 {
  padding-left: 32px;
  color: green;
}

.popup p{
  padding: 2em 1em;
}

.close-btn{
  background: white;
  color: green;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 1em;
  position: absolute;
}

.close-btn:hover{
  background: green;
  color: white;
  border: 1px solid black
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 2.3em;
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.gotop {
  position: fixed;
  width: 3em;
  height: 3em;
  right: 0;
  background: green;
  color: white;
  bottom: 5em;
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

.features {
  height: 30vh;
  display: flex;
  background-color: green;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.pi {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5em;
}

.pi h2 {
  margin-bottom: 1em;
}

.app {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5em;
}

.app h2 {
  margin-bottom: 1em;
}

.nutrition {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5em;
}

.nutrition h2 {
  margin-bottom: 1em;
}

.btn-f {
  background-color: white;
  border: none;
  border-radius: 30px;
}
.btn-f a {
  color: green;
  font-size: 1.2rem;
  font-weight: 600;
}

/* accordian section */
.accordian-s {
  height: 70vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordian {
  width: 65%;
  background-color: green;
  color: white;
  padding: 3em;
  border-radius: 3em;
}

.accordian .content-container .question {
  padding: 1em 0px;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid white;
  position: relative;
}

.accordian .content-container .question::after {
  content: "+";

  position: absolute;
  right: -5px;
  font-size: 1.7rem;
}

.accordian .content-container .answer {
  padding-top: 1em;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;

  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordian .content-container.active .answer {
  height: 50px;
}

.accordian .content-container.active .question {
  font-size: 1rem;
  transition: 0.5s;
}

.accordian .content-container.active .question::after {
  content: "-";
  font-size: 2rem;
  transition: 0.5s;
}

/* form */
.form {
  height: 70vh;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
  background-color: white;
  color: green;
  padding: 3em;
  border-radius: 3em;
  font-size: 1.2rem;
}

form h1 {
  margin: 0;
  text-align: center;
}

form label {
  display: block;
  margin-top: 1em;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
}

form input[type="text"]:focus,
form textarea:focus {
  border-bottom: 1px solid green;
}

form textarea::-webkit-scrollbar {
  width: 4px;
}

form textarea::-webkit-scrollbar-thumb {
  background-color: green;
}

.center {
  text-align: center;
}

input[type="submit"] {
  margin-top: 2em;
  width: 90%;
  max-width: 100em;
  background: linear-gradient(to right, green, lightgreen);
  border-radius: 3em;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: green;
}

/* slider */

#slider {
  height: 70vh;
  background-color: white;
  padding: 5% 16%;
}

.box-area {
  padding: 2em;
  position: relative;
  display: block;
  background: green;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin: 2.5em 0;
  border-radius: 1.5em;
}

.box-area h5 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 0.3em;
}

.box-area span {
  display: block;
  margin: 0 0 0.2em;
  font-weight: 600;
}

.box-area .img-area {
  width: 7em;
  height: 7em;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid white;
  border-radius: 50%;
  border-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.box-area .img-area img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#slider .owl-prev,
#slider .owl-next {
  width: 3em;
  height: 3em;
  color: white;
  border-radius: 50%;
  test-align: center;
  background: green;
  position: absolute;
}

#slider .owl-prev {
  left: -4em;
  top: -3em;
}

#slider .owl-next {
  right: -4em;
  top: -3em;
}

@media only screen and (max-width: 991px) {
  .owl-nav {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .owl-nav {
    display: none;
  }

  .box-area {
    text-align: center;
  }
}

/* Footer */
footer {
  background-color: #f8f8f8;
  left: 0;
  bottom: 0;
  width: 100%;
}

.plate-1 {
  height: 5vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: green;
  font-size: 1.7rem;
}

.plate-2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 3em 2em;
  font-size: 1.2rem;
}

.section-1 {
  display: flex;
  flex-flow: row;
}

.col-1 {
  padding: 0;
}

.col-2 {
  margin: 0 2em;
}

.col-3 {
  margin: 0 2em;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 h1 {
  writing-mode: vertical-rl;
  color: green;
}

.plate-3 {
  margin: 3em 2em;
}

.plate-3 ul {
  list-style: none;
  display: flex;
  margin-bottom: 1em;
}

.plate-3 li {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid gray;
}

.plate-3 a {
  font-size: 1.2rem;
  font-weight: 600;
}

.right {
  font-size: 1rem;
}
